body{
  padding: 0;
}

#baseBox{
  float: left;
  padding:2%;
  transform: translate(-50%, 0%);
  margin: 0% 50%;
}
#baseinnerBox{
  float: left;
  width: 1500px;
  padding: 30px;
  height: 800px;
  
}