<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team2.simpleOrder.dao.order.IDetailOrderDao">

	<select id="getsaoList" parameterType="order" resultType="order">
		SELECT
		PD.PDC_CODE,PD.PD_CODE,PD.PD_NAME,PD.PD_DATE,PD.PD_PRICE,SUM(OH.OH_CNT)
		AS OH_CNT
		FROM ORDER_HISTORY AS OH JOIN ORDER_AND_CREDIT AS OAC JOIN
		PRODUCT AS PD
		ON OAC.BD_DATE = OH.BD_DATE AND OH.PDC_CODE = PD.PDC_CODE
		AND OAC.C_CODE = OH.C_CODE AND PD.C_CODE = OAC.C_CODE
		AND OH.PD_CODE = PD.PD_CODE AND OAC.OAC_NUM = OH.OAC_NUM
		WHERE
		OAC.C_CODE = #{c_code} AND PD.PD_STATUS = "1"
		AND OAC.OAC_NUM = #{oac_num}
		AND OAC.BD_DATE =#{bd_date}
		GROUP BY
		PD.PDC_CODE,PD.PD_CODE
		HAVING OH_CNT > 0

	</select>

	<select id="selectsaoList" parameterType="string"
		resultType="order">
		SELECT OH.PDC_CODE,OH.PD_CODE,OH.PD_DATE,SUM(OH_CNT) FROM
		ORDER_HISTORY AS OH
		WHERE OH.C_CODE = #{c_code} AND BD_DATE =
		#{bd_date} AND OH.OAC_NUM =
		#{oac_num}
		GROUP BY OH.PDC_CODE,OH.PD_CODE

	</select>

	<update id="updatestkList" parameterType="hashMap">
			UPDATE
			ORDER_HISTORY AS OH JOIN STOCK AS STK ON OH.PDC_CODE = STK.PDC_CODE
			AND OH.PD_CODE = STK.PD_CODE
			SET STK.STK_STOCK =
			(STK.STK_STOCK-(#{oh_cnt}))
			WHERE OH.C_CODE =#{c_code} AND
			OH.OAC_NUM = #{oac_num} AND
			OH.PDC_CODE = #{pdc_code}
			AND
			OH.PD_CODE = #{pd_code} AND STK.STK_STOCK >=0
	</update>

	<select id="getSellKeyList" parameterType="string"
		resultType="hashMap">
		SELECT PRO.SKC_CODE,PRO.SK_NUM,PRO.PDC_CODE,PRO.PD_CODE,CAST(PRO.PD_DATE AS CHAR) AS PD_DATE,PRO.PD_IMGNAME,PRO.PD_NAME,PRO.PD_PRICE,
		ifnull(STK.STK_STOCK,-1) AS STK_STOCK
		FROM (SELECT
		SK.SKC_CODE,SK.SK_NUM,PRO.PDC_CODE,PRO.PD_CODE,PRO.PD_DATE,PRO.PD_IMGNAME,PRO.PD_NAME,PRO.PD_PRICE
		FROM PRODUCT PRO LEFT OUTER JOIN SELLKEY SK
		ON PRO.C_CODE=SK.C_CODE AND
		PRO.PD_CODE=SK.PD_CODE AND
		PRO.PDC_CODE=SK.PDC_CODE
		AND PRO.PD_DATE=SK.PD_DATE
		WHERE PRO.C_CODE=#{c_code} AND PRO.PD_STATUS='1'
		AND SK_NUM IS NOT
		NULL
		) PRO LEFT OUTER JOIN STOCK STK
		ON
		PRO.PDC_CODE=STK.PDC_CODE AND PRO.PD_CODE=STK.PD_CODE AND
		PRO.PD_DATE=STK.PD_DATE
		ORDER BY PRO.PDC_CODE ASC,PRO.PD_CODE ASC;
	</select>

</mapper>