<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team2.simpleOrder.dao.money.ICreditAndPaymentDao">
	<select id="getcreditList" parameterType="hashmap"
		resultType="hashmap">
		SELECT	OAC.C_CODE,OAC.BD_DATE,OAC.OAC_NUM,CRD_CODE,CRD_NAME,CRD_PHONE,CRD_DATE,SUM(PD_PRICE*OH_CNT) AS TOTALPRICE
		FROM CREDIT AS CRD JOIN ORDER_AND_CREDIT AS OAC JOIN
		PRODUCT AS PD RIGHT OUTER JOIN ORDER_HISTORY AS OH
		ON CRD.OAC_NUM = OAC.OAC_NUM AND CRD.BD_DATE = OAC.BD_DATE 
        AND CRD.C_CODE = OAC.C_CODE AND OAC.C_CODE = OH.C_CODE AND PD.C_CODE = OAC.C_CODE
		AND OH.OAC_NUM = OAC.OAC_NUM AND OH.BD_DATE = OAC.BD_DATE AND
		PD.PD_CODE = OH.PD_CODE AND PD.PDC_CODE = OH.PDC_CODE
		WHERE CRD.C_CODE = #{c_code} AND OAC.OAC_STATUS= #{oac_status} AND
		PD_STATUS = 1
		GROUP BY
		OH.C_CODE,OH.BD_DATE,OH.OAC_NUM,CRD_CODE
	</select>

	<select id="getdetailCredit" parameterType="hashmap"
		resultType="hashmap">
		 SELECT
		PD.PDC_CODE,PD.PD_CODE,PD.PD_NAME,PD.PD_DATE,PD.PD_PRICE,SUM(OH.OH_CNT)
		AS OH_CNT
		FROM ORDER_HISTORY AS OH JOIN ORDER_AND_CREDIT AS OAC JOIN
		PRODUCT AS PD
		ON OAC.BD_DATE = OH.BD_DATE AND OH.PDC_CODE = PD.PDC_CODE
		AND
		OH.PD_CODE = PD.PD_CODE AND OAC.OAC_NUM = OH.OAC_NUM AND OH.C_CODE = OAC.C_CODE AND OAC.C_CODE = PD.C_CODE
		WHERE
		OAC.C_CODE = #{c_code} AND PD.PD_STATUS = "1" AND OAC.OAC_STATUS = #{oac_status}
		AND OAC.OAC_NUM = #{oac_num}
		AND OAC.BD_DATE = #{bd_date}
		GROUP BY OH.C_CODE,OH.BD_DATE,OH.OAC_NUM,PD.PDC_CODE,PD.PD_CODE,PD.PD_DATE
	</select>

	<select id="selectpay" parameterType="hashmap"
		resultType="hashmap">
		SELECT SUM(PMT_CASH+PMT_CARD) AS TOTAL FROM PAYMENT_TYPE
		WHERE C_CODE = #{c_code} AND BD_DATE =#{bd_date} AND
		OAC_NUM=#{oac_num}
	</select>
	
	<insert id="moneyPayment">
	INSERT INTO PAYMENT_TYPE VALUES
	<!--  현금결제일경우 -->
	<if test="paytype==1">
	(#{c_code},TIMESTAMP(#{bd_date}),#{oac_num},NOW(),#{get_cash},#{money},0)
	</if>
	<!-- 카드결제일경우 -->
	<if test="paytype==2">
	(#{c_code},TIMESTAMP(#{bd_date}),#{oac_num},NOW(),#{get_cash},0,#{money})
	</if>
	</insert>
	
	<select id="updatestockList">
	UPDATE STOCK AS STK,(select OAC.C_CODE,OH.PDC_CODE,OH.PD_CODE,PD_DATE,sum(oh.oh_cnt) as OH_CNT from order_and_credit as oac join order_history as oh 
        on oh.c_code = oac.c_code and oh.bd_date = oac.bd_date and oac.oac_num = oh.oac_num
        where oac.c_code =#{c_code} and oac.oac_status = -2 and oac.oac_num = #{oac_num}
        group by oac.oac_num,oac.bd_date,oac.c_code,oh.pdc_code,oh.pd_code,oh.pd_date) AS PD SET STK.STK_STOCK = STK.STK_STOCK+OH_CNT
        WHERE STK.C_CODE = PD.C_CODE AND STK.PDC_CODE = PD.PDC_CODE AND STK.PD_CODE = PD.PD_CODE AND STK.PD_DATE = PD.PD_DATE
	</select>
</mapper>