<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team2.simpleOrder.dao.money.ISalesDao">

<!-- 월간 매출 불러오기 -->
<select id="getMonthSales" parameterType="hashmap" resultType="hashmap">
	(SELECT P.C_CODE, P.OAC_NAME, SUM(P.PMT_CASH) AS CASH, SUM(P.PMT_CARD) AS CARD, SUM(CP.TOTAL_PAY) TOTAL_PAY, P.BD_DATE
	FROM PAYMENT AS P LEFT JOIN CREDIT_PAY AS CP ON P.C_CODE=CP.C_CODE AND P.OAC_NAME = CP.OAC_NAME AND P.BD_DATE = CP.BD_DATE
	WHERE P.C_CODE = #{c_code} AND DATE(P.BD_DATE) BETWEEN #{f_date} AND #{l_date}
	GROUP BY P.C_CODE, P.OAC_NAME, P.BD_DATE)
	UNION 
	(SELECT CP.C_CODE, CP.OAC_NAME, SUM(P.PMT_CASH) AS CASH, SUM(P.PMT_CARD) AS CARD, SUM(CP.TOTAL_PAY) TOTAL_PAY, CP.BD_DATE
	FROM PAYMENT AS P RIGHT JOIN CREDIT_PAY AS CP ON P.C_CODE=CP.C_CODE AND P.OAC_NAME = CP.OAC_NAME AND P.BD_DATE = CP.BD_DATE
	WHERE CP.C_CODE = #{c_code} AND DATE(CP.BD_DATE) BETWEEN #{f_date} AND #{l_date}
	GROUP BY CP.C_CODE, CP.OAC_NAME, CP.BD_DATE);
</select>

<!-- 월 상세 매출 불러오기 -->
<select id="getMonthDetail" parameterType="hashmap" resultType="hashmap">
	SELECT DISTINCT OS.OAC_NAME, SUM(PMT.PMT_CASH) AS CASH, SUM(PMT.PMT_CARD) AS CARD
	FROM PAYMENT_TYPE AS PMT 
		INNER JOIN ORDER_AND_CREDIT AS OAC ON OAC.C_CODE = PMT.C_CODE AND OAC.BD_DATE = PMT.BD_DATE AND OAC.OAC_NUM = PMT.OAC_NUM
    	INNER JOIN OAC_STATUS AS OS ON OAC.OAC_STATUS = OS.OAC_STATUS
	WHERE OAC.C_CODE = #{c_code} AND (DATE(OAC.BD_DATE) BETWEEN #{bd_date} AND LAST_DAY(#{bd_date})) AND OAC.OAC_STATUS NOT IN (1,2,3)
	GROUP BY OS.OAC_NAME
</select>

<!-- 월 총 매출 불러오기 -->
<select id="getMonthDetailTotalSales" parameterType="hashmap" resultType="hashmap">
	SELECT SUM(OH.OH_CNT*PD.PD_PRICE) AS TOTAL_PAY, OS.OAC_NAME
	FROM ORDER_HISTORY AS OH INNER JOIN PRODUCT AS PD ON OH.C_CODE = PD.C_CODE AND OH.PDC_CODE = PD.PDC_CODE AND OH.PD_CODE = PD.PD_CODE AND OH.PD_DATE = PD.PD_DATE
		INNER JOIN ORDER_AND_CREDIT AS OAC ON OAC.C_CODE = OH.C_CODE AND OAC.BD_DATE = OH.BD_DATE AND OAC.OAC_NUM = OH.OAC_NUM
    	INNER JOIN OAC_STATUS AS OS ON OAC.OAC_STATUS = OS.OAC_STATUS
	WHERE OAC.C_CODE = #{c_code} AND (DATE(OAC.BD_DATE) BETWEEN #{bd_date} AND LAST_DAY(#{bd_date})) AND OAC.OAC_STATUS NOT IN (1,2,3)
	GROUP BY OS.OAC_NAME
</select>

<!-- 월 판매 상품 불러오기 (반품 제외) -->
<select id="getMonthDetailProduct" parameterType="hashmap" resultType="hashmap">
	SELECT PD.PD_NAME, PD.PD_PRICE, SUM(OH.OH_CNT) AS OH_CNT
	FROM ORDER_AND_CREDIT AS OAC 
		INNER JOIN ORDER_HISTORY AS OH ON OAC.C_CODE = OH.C_CODE AND OAC.BD_DATE = OH.BD_DATE AND OAC.OAC_NUM = OH.OAC_NUM
		INNER JOIN PRODUCT AS PD ON OAC.C_CODE = PD.C_CODE AND OH.PDC_CODE = PD.PDC_CODE AND OH.PD_CODE = PD.PD_CODE AND OH.PD_DATE = PD.PD_DATE
	WHERE OAC.C_CODE= #{c_code} AND (DATE(OAC.BD_DATE) BETWEEN #{bd_date} AND LAST_DAY(#{bd_date})) AND OAC.OAC_STATUS NOT IN (3,-2)
	GROUP BY PD.PD_NAME, PD.PD_PRICE
</select>

<!-- 월 반품 상품 불러오기 -->
<select id="getMonthDetailRefundProduct" parameterType="hashmap" resultType="hashmap">
	SELECT PD.PD_NAME, PD.PD_PRICE, SUM(OH.OH_CNT) AS OH_CNT
	FROM ORDER_AND_CREDIT AS OAC 
		INNER JOIN ORDER_HISTORY AS OH ON OAC.C_CODE = OH.C_CODE AND OAC.BD_DATE = OH.BD_DATE AND OAC.OAC_NUM = OH.OAC_NUM
		INNER JOIN PRODUCT AS PD ON OAC.C_CODE = PD.C_CODE AND OH.PDC_CODE = PD.PDC_CODE AND OH.PD_CODE = PD.PD_CODE AND OH.PD_DATE = PD.PD_DATE
	WHERE OAC.C_CODE= #{c_code} AND (DATE(OAC.BD_DATE) BETWEEN #{bd_date} AND LAST_DAY(#{bd_date})) AND OAC.OAC_STATUS = '-2'
	GROUP BY PD.PD_NAME, PD.PD_PRICE
</select>

<!-- 일 매출 불러오기(총 매출 제외) -->
<select id="getDaySales" parameterType="hashmap" resultType="hashmap">
	SELECT DISTINCT OS.OAC_NAME, SUM(PMT.PMT_CASH) AS CASH, SUM(PMT.PMT_CARD) AS CARD
	FROM PAYMENT_TYPE AS PMT 
		INNER JOIN ORDER_AND_CREDIT AS OAC ON OAC.C_CODE = PMT.C_CODE AND OAC.BD_DATE = PMT.BD_DATE AND OAC.OAC_NUM = PMT.OAC_NUM
    	INNER JOIN OAC_STATUS AS OS ON OAC.OAC_STATUS = OS.OAC_STATUS
	WHERE OAC.C_CODE = #{c_code} AND DATE(OAC.BD_DATE) = #{bd_date} AND OAC.OAC_STATUS NOT IN (1,2,3)
	GROUP BY OS.OAC_NAME
</select>

<!-- 일 총 매출 불러오기 -->
<select id="getDayTotalSales" parameterType="hashmap" resultType="hashmap">
	SELECT SUM(OH.OH_CNT*PD.PD_PRICE) AS TOTAL_PAY, OS.OAC_NAME
	FROM ORDER_HISTORY AS OH INNER JOIN PRODUCT AS PD ON OH.C_CODE = PD.C_CODE AND OH.PDC_CODE = PD.PDC_CODE AND OH.PD_CODE = PD.PD_CODE AND OH.PD_DATE = PD.PD_DATE
		INNER JOIN ORDER_AND_CREDIT AS OAC ON OAC.C_CODE = OH.C_CODE AND OAC.BD_DATE = OH.BD_DATE AND OAC.OAC_NUM = OH.OAC_NUM
    	INNER JOIN OAC_STATUS AS OS ON OAC.OAC_STATUS = OS.OAC_STATUS
	WHERE OAC.C_CODE = #{c_code} AND DATE(OAC.BD_DATE) = #{bd_date} AND OAC.OAC_STATUS NOT IN (1,2,3)
	GROUP BY OS.OAC_NAME
</select>

<!-- 일 판매 상품 불러오기 (반품 제외) -->
<select id="getDayProduct" parameterType="hashmap" resultType="hashmap">
	SELECT PD.PD_NAME, PD.PD_PRICE, SUM(OH.OH_CNT) AS OH_CNT
	FROM ORDER_AND_CREDIT AS OAC 
		INNER JOIN ORDER_HISTORY AS OH ON OAC.C_CODE = OH.C_CODE AND OAC.BD_DATE = OH.BD_DATE AND OAC.OAC_NUM = OH.OAC_NUM
		INNER JOIN PRODUCT AS PD ON OAC.C_CODE = PD.C_CODE AND OH.PDC_CODE = PD.PDC_CODE AND OH.PD_CODE = PD.PD_CODE AND OH.PD_DATE = PD.PD_DATE
	WHERE OAC.C_CODE= #{c_code} AND DATE(OAC.BD_DATE) = #{bd_date} AND OAC.OAC_STATUS NOT IN (3,-2)
	GROUP BY PD.PD_NAME, PD.PD_PRICE
</select>

<!--  일 반품 상품 불러오기 -->
<select id="getDayRefundProduct" parameterType="hashmap" resultType="hashmap">
	SELECT PD.PD_NAME, PD.PD_PRICE, SUM(OH.OH_CNT) AS OH_CNT
	FROM ORDER_AND_CREDIT AS OAC 
		INNER JOIN ORDER_HISTORY AS OH ON OAC.C_CODE = OH.C_CODE AND OAC.BD_DATE = OH.BD_DATE AND OAC.OAC_NUM = OH.OAC_NUM
		INNER JOIN PRODUCT AS PD ON OAC.C_CODE = PD.C_CODE AND OH.PDC_CODE = PD.PDC_CODE AND OH.PD_CODE = PD.PD_CODE AND OH.PD_DATE = PD.PD_DATE
	WHERE OAC.C_CODE= #{c_code} AND DATE(OAC.BD_DATE) = #{bd_date} AND OAC.OAC_STATUS = '-2'
	GROUP BY PD.PD_NAME, PD.PD_PRICE
</select>

<!-- 현금매출 불러오기 -->
<select id="getCashSales" parameterType="hashmap" resultType="string">
	SELECT SUM(PMT.PMT_CASH) AS CASH
	FROM PAYMENT_TYPE AS PMT 
		INNER JOIN ORDER_AND_CREDIT AS OAC ON OAC.C_CODE = PMT.C_CODE AND OAC.BD_DATE = PMT.BD_DATE AND OAC.OAC_NUM = PMT.OAC_NUM
    	INNER JOIN OAC_STATUS AS OS ON OAC.OAC_STATUS = OS.OAC_STATUS
	WHERE PMT.C_CODE = #{c_code} AND OAC.BD_DATE = #{bd_date} AND OAC.OAC_STATUS NOT IN (1,2,3,-2);
</select>

<!-- c_email로 월 매출 불러오기 -->
<select id="getMonthEmailSales" parameterType="hashmap" resultType="hashmap">
	(SELECT  P.OAC_NAME, SUM(P.PMT_CASH) AS CASH, SUM(P.PMT_CARD) AS CARD, SUM(CP.TOTAL_PAY) TOTAL_PAY, DATE_FORMAT(P.BD_DATE,'%Y-%m-%d') AS BD_DATE
	FROM PAYMENT AS P LEFT JOIN CREDIT_PAY AS CP ON P.C_CODE=CP.C_CODE AND P.OAC_NAME = CP.OAC_NAME AND P.BD_DATE = CP.BD_DATE AND P.C_EMAIL = CP.C_EMAIL
	WHERE P.C_EMAIL= #{c_email} AND DATE(P.BD_DATE) BETWEEN #{f_date} AND #{l_date}
	GROUP BY P.OAC_NAME, DATE_FORMAT(P.BD_DATE,'%Y-%m-%d'))
	UNION 
	(SELECT CP.OAC_NAME, SUM(P.PMT_CASH) AS CASH, SUM(P.PMT_CARD) AS CARD, SUM(CP.TOTAL_PAY) TOTAL_PAY, DATE_FORMAT(CP.BD_DATE,'%Y-%m-%d') AS BD_DATE
	FROM PAYMENT AS P RIGHT JOIN CREDIT_PAY AS CP ON P.C_CODE=CP.C_CODE AND P.OAC_NAME = CP.OAC_NAME AND P.BD_DATE = CP.BD_DATE AND P.C_EMAIL = CP.C_EMAIL
	WHERE CP.C_EMAIL = #{c_email} AND DATE(CP.BD_DATE) BETWEEN #{f_date} AND #{l_date}
	GROUP BY  CP.OAC_NAME, DATE_FORMAT(CP.BD_DATE,'%Y-%m-%d'));
</select>

<!-- c_email로 월 상세 매출 불러오기 -->
<select id="getMonthEmailDetail" parameterType="hashmap" resultType="hashmap">
	SELECT DISTINCT OS.OAC_NAME, SUM(PMT.PMT_CASH) AS CASH, SUM(PMT.PMT_CARD) AS CARD
	FROM PAYMENT_TYPE AS PMT 
		INNER JOIN ORDER_AND_CREDIT AS OAC ON OAC.C_CODE = PMT.C_CODE AND OAC.BD_DATE = PMT.BD_DATE AND OAC.OAC_NUM = PMT.OAC_NUM
    	INNER JOIN OAC_STATUS AS OS ON OAC.OAC_STATUS = OS.OAC_STATUS
    	INNER JOIN COMPANY AS C ON OAC.C_CODE = C.C_CODE
	WHERE C.C_EMAIL = #{c_email} AND (DATE(OAC.BD_DATE) BETWEEN #{bd_date} AND LAST_DAY(#{bd_date})) AND OAC.OAC_STATUS NOT IN (1,2,3)
	GROUP BY OS.OAC_NAME 
</select>

<!-- c_email로 월 총 매출 불러오기 -->
<select id="getMonthEmailDetailTotalSales" parameterType="hashmap" resultType="hashmap">
	SELECT SUM(OH.OH_CNT*PD.PD_PRICE) AS TOTAL_PAY, OS.OAC_NAME
	FROM ORDER_HISTORY AS OH INNER JOIN PRODUCT AS PD ON OH.C_CODE = PD.C_CODE AND OH.PDC_CODE = PD.PDC_CODE AND OH.PD_CODE = PD.PD_CODE AND OH.PD_DATE = PD.PD_DATE
		INNER JOIN ORDER_AND_CREDIT AS OAC ON OAC.C_CODE = OH.C_CODE AND OAC.BD_DATE = OH.BD_DATE AND OAC.OAC_NUM = OH.OAC_NUM
    	INNER JOIN OAC_STATUS AS OS ON OAC.OAC_STATUS = OS.OAC_STATUS
    	INNER JOIN COMPANY AS C ON OAC.C_CODE = C.C_CODE
	WHERE C.C_EMAIL = #{c_email} AND (DATE(OAC.BD_DATE) BETWEEN #{bd_date} AND LAST_DAY(#{bd_date})) AND OAC.OAC_STATUS NOT IN (1,2,3)
	GROUP BY OS.OAC_NAME
</select>

<!-- c_email로 월 판매 상품 불러오기 (반품 제외) -->
<select id="getMonthEmailDetailProduct" parameterType="hashmap" resultType="hashmap">
	SELECT PD.PD_NAME, PD.PD_PRICE, SUM(OH.OH_CNT) AS OH_CNT, C.C_CODE
	FROM ORDER_AND_CREDIT AS OAC 
		INNER JOIN ORDER_HISTORY AS OH ON OAC.C_CODE = OH.C_CODE AND OAC.BD_DATE = OH.BD_DATE AND OAC.OAC_NUM = OH.OAC_NUM
		INNER JOIN PRODUCT AS PD ON OAC.C_CODE = PD.C_CODE AND OH.PDC_CODE = PD.PDC_CODE AND OH.PD_CODE = PD.PD_CODE AND OH.PD_DATE = PD.PD_DATE
		INNER JOIN COMPANY AS C ON OAC.C_CODE = C.C_CODE
	WHERE C.C_EMAIL = #{c_email} AND (DATE(OAC.BD_DATE) BETWEEN #{bd_date} AND LAST_DAY(#{bd_date})) AND OAC.OAC_STATUS NOT IN (3,-2)
	GROUP BY PD.PD_NAME, PD.PD_PRICE, C.C_CODE
	ORDER BY C.C_CODE ASC
</select>

<!-- c_email로 월 반품 상품 불러오기 -->
<select id="getMonthEmailDetailRefundProduct" parameterType="hashmap" resultType="hashmap">
	SELECT PD.PD_NAME, PD.PD_PRICE, SUM(OH.OH_CNT) AS OH_CNT, C.C_CODE
	FROM ORDER_AND_CREDIT AS OAC 
		INNER JOIN ORDER_HISTORY AS OH ON OAC.C_CODE = OH.C_CODE AND OAC.BD_DATE = OH.BD_DATE AND OAC.OAC_NUM = OH.OAC_NUM
		INNER JOIN PRODUCT AS PD ON OAC.C_CODE = PD.C_CODE AND OH.PDC_CODE = PD.PDC_CODE AND OH.PD_CODE = PD.PD_CODE AND OH.PD_DATE = PD.PD_DATE
		INNER JOIN COMPANY AS C ON OAC.C_CODE = C.C_CODE
	WHERE C.C_EMAIL = #{c_email} AND (DATE(OAC.BD_DATE) BETWEEN #{bd_date} AND LAST_DAY(#{bd_date})) AND OAC.OAC_STATUS = '-2'
	GROUP BY PD.PD_NAME, PD.PD_PRICE, C.C_CODE
	ORDER BY C.C_CODE ASC
</select>

<!-- 일 매출 불러오기(총 매출 제외) -->
<select id="getDayEmailSales" parameterType="hashmap" resultType="hashmap">
	SELECT DISTINCT OS.OAC_NAME, SUM(PMT.PMT_CASH) AS CASH, SUM(PMT.PMT_CARD) AS CARD
	FROM PAYMENT_TYPE AS PMT 
		INNER JOIN ORDER_AND_CREDIT AS OAC ON OAC.C_CODE = PMT.C_CODE AND OAC.BD_DATE = PMT.BD_DATE AND OAC.OAC_NUM = PMT.OAC_NUM
    	INNER JOIN OAC_STATUS AS OS ON OAC.OAC_STATUS = OS.OAC_STATUS
    	INNER JOIN COMPANY AS C ON OAC.C_CODE = C.C_CODE
	WHERE C.C_EMAIL = #{c_email} AND DATE(OAC.BD_DATE) = #{bd_date} AND OAC.OAC_STATUS NOT IN (1,2,3)
	GROUP BY OS.OAC_NAME
</select>

<!-- 일 총 매출 불러오기 -->
<select id="getDayEmailTotalSales" parameterType="hashmap" resultType="hashmap">
	SELECT SUM(OH.OH_CNT*PD.PD_PRICE) AS TOTAL_PAY, OS.OAC_NAME
	FROM ORDER_HISTORY AS OH INNER JOIN PRODUCT AS PD ON OH.C_CODE = PD.C_CODE AND OH.PDC_CODE = PD.PDC_CODE AND OH.PD_CODE = PD.PD_CODE AND OH.PD_DATE = PD.PD_DATE
		INNER JOIN ORDER_AND_CREDIT AS OAC ON OAC.C_CODE = OH.C_CODE AND OAC.BD_DATE = OH.BD_DATE AND OAC.OAC_NUM = OH.OAC_NUM
    	INNER JOIN OAC_STATUS AS OS ON OAC.OAC_STATUS = OS.OAC_STATUS
    	INNER JOIN COMPANY AS C ON OAC.C_CODE = C.C_CODE
	WHERE C.C_EMAIL = #{c_email} AND DATE(OAC.BD_DATE) = #{bd_date} AND OAC.OAC_STATUS NOT IN (1,2,3)
	GROUP BY OS.OAC_NAME
</select>

<!-- 일 판매 상품 불러오기 (반품 제외) -->
<select id="getDayEmailProduct" parameterType="hashmap" resultType="hashmap">
	SELECT PD.PD_NAME, PD.PD_PRICE, SUM(OH.OH_CNT) AS OH_CNT, C.C_CODE
	FROM ORDER_AND_CREDIT AS OAC 
		INNER JOIN ORDER_HISTORY AS OH ON OAC.C_CODE = OH.C_CODE AND OAC.BD_DATE = OH.BD_DATE AND OAC.OAC_NUM = OH.OAC_NUM
		INNER JOIN PRODUCT AS PD ON OAC.C_CODE = PD.C_CODE AND OH.PDC_CODE = PD.PDC_CODE AND OH.PD_CODE = PD.PD_CODE AND OH.PD_DATE = PD.PD_DATE
		INNER JOIN COMPANY AS C ON OAC.C_CODE = C.C_CODE
	WHERE C.C_EMAIL = #{c_email} AND DATE(OAC.BD_DATE) = #{bd_date} AND OAC.OAC_STATUS NOT IN (3,-2)
	GROUP BY PD.PD_NAME, PD.PD_PRICE, C.C_CODE
	ORDER BY C.C_CODE ASC
</select>

<!--  일 반품 상품 불러오기 -->
<select id="getDayEmailRefundProduct" parameterType="hashmap" resultType="hashmap">
	SELECT PD.PD_NAME, PD.PD_PRICE, SUM(OH.OH_CNT) AS OH_CNT, C.C_CODE
	FROM ORDER_AND_CREDIT AS OAC 
		INNER JOIN ORDER_HISTORY AS OH ON OAC.C_CODE = OH.C_CODE AND OAC.BD_DATE = OH.BD_DATE AND OAC.OAC_NUM = OH.OAC_NUM
		INNER JOIN PRODUCT AS PD ON OAC.C_CODE = PD.C_CODE AND OH.PDC_CODE = PD.PDC_CODE AND OH.PD_CODE = PD.PD_CODE AND OH.PD_DATE = PD.PD_DATE
		INNER JOIN COMPANY AS C ON OAC.C_CODE = C.C_CODE
	WHERE C.C_EMAIL = #{c_email} AND DATE(OAC.BD_DATE) = #{bd_date} AND OAC.OAC_STATUS = '-2'
	GROUP BY PD.PD_NAME, PD.PD_PRICE, C.C_CODE
	ORDER BY C.C_CODE ASC
</select>

</mapper>