<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team2.simpleOrder.dao.money.ISalesDao">

<select id="getMonthSales" parameterType="hashmap" resultType="hashmap">
	(SELECT P.C_CODE, P.OAC_NAME, SUM(P.GET_CASH) AS GET_PAY, SUM(P.PMT_CASH) AS CASH, SUM(P.PMT_CARD) AS CARD, SUM(CP.TOTAL_PAY) TOTAL_PAY, P.BD_DATE
	FROM PAYMENT AS P LEFT JOIN CREDIT_PAY AS CP ON P.C_CODE=CP.C_CODE AND P.OAC_NAME = CP.OAC_NAME AND P.BD_DATE = CP.BD_DATE
	WHERE P.C_CODE = "123123123123" AND DATE(P.BD_DATE) BETWEEN "2020-09-01" AND "2020-09-30"
	GROUP BY P.C_CODE, P.OAC_NAME, P.BD_DATE)
	UNION 
	(SELECT CP.C_CODE, CP.OAC_NAME, SUM(P.GET_CASH) AS GET_PAY, SUM(P.PMT_CASH) AS CASH, SUM(P.PMT_CARD) AS CARD, SUM(CP.TOTAL_PAY) TOTAL_PAY, CP.BD_DATE
	FROM PAYMENT AS P RIGHT JOIN CREDIT_PAY AS CP ON P.C_CODE=CP.C_CODE AND P.OAC_NAME = CP.OAC_NAME AND P.BD_DATE = CP.BD_DATE
	WHERE CP.C_CODE = "123123123123" AND DATE(CP.BD_DATE) BETWEEN "2020-09-01" AND "2020-09-30"
	GROUP BY CP.C_CODE, CP.OAC_NAME, CP.BD_DATE);
</select>
</mapper>